DATABASE_URL=postgresql://user:pass@ep-xxxx.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
NVD_API_KEY=get_free_key_at_nvd.nist.gov/developers/request-an-api-key
ABUSEIPDB_KEY=get_free_key_at_abuseipdb.com/api
OTX_API_KEY=get_free_key_at_otx.alienvault.com
PORT=3000
NODE_ENV=development
CENSYS_API_ID=
CENSYS_API_SECRET=
